{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
 <div class="container my-3 shadow">
   <h2 class="text-center"><u>Change Password Form</u></h2>
   <form class="form-group" action="" method="post" accept-charset="utf-8" novalidate>
     {% csrf_token %}
     {{form.as_p}}
           <!-- {% for fm in form %}
      <span>{{fm.label_tag}}</span>
      <span>{{fm}}</span> 
      <span>{{fm.errors|striptags}}</span>
     {% endfor %} -->
     <input type="submit" class='btn btn-primary my-2' value="Submit" />
     <a href="{% url 'home' %}" class='btn btn-danger my-2'>Home</a>
   </form>
 </div>
{% endblock main-content %}

